/.idea/alakon.iml
/.idea/caches/deviceStreaming.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml

/.idea
.dart_tool

# FVM Version Cache
.fvm/

.flutter-plugins
.flutter-plugins-dependencies
